@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
}
.body {
  min-height: 100svh;
  display: grid;
  place-content: center;
  padding: 28px;
  background-color: rgba(213, 225, 239, 1);
}

.card {
  --padding: 16px;
  --radius: 20px;
  background-color: white;
  padding: var(--padding);
  width: 320px;
  border-radius: var(--radius);
  padding-bottom: 2.5rem;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.0477), 0 4px 4px rgba(0, 0, 0, 0.25);
}

.card__img {
  border-radius: calc(var(--radius) - var(--padding) + 6px);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.card__title {
  /* Heading */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  margin-top: 1.5rem;
  /* Dark Navy */
  color: #1f314f;
}

.card__content {
  /* Body */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.1875px;

  /* Grey */
  color: #7d889e;

  margin-top: 1rem;
}

.card__title,
.card__content {
  padding-inline: 0.75rem;
}

@media (min-width: 50rem) {
  .card {
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.0477);
  }

  .card__img {
    box-shadow: none;
  }
}
